.main-container {
    width: 100%;
}

.container {
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
}

.container h4 {
    margin: 0;
    padding: 0.5em;
}

.info p {
    display: flex;
    justify-content: space-between;
    margin:0;
    padding: 0.2em 0.5em;
    color:var(--gray)
}

.services {
    display: inline;
}

h5 {
    font-size: 1.1em;
    margin:0;
    text-transform: capitalize;
}

.service {
    float: left;
    font-size: 1em;
    border-radius: 2em;
    padding:0.2em 0.9em;
    box-shadow:2px 2px 0.4em var(--gray);
    margin:0.5em 0.4em;
}

@media (min-width:50em) {
    .container {
        max-width: 1080px;
        margin: 0 auto;
        justify-content: space-around;
        flex-direction: row;
    }
}