:root {
  --gray:#282c34;
  --primary:#12886b;
  --white:#fff;
}

.nav {
  background-color: var(--white);
}

.navbar {
  margin: -18px 0;
  background-color: teal;
  padding: 0em;
}

.navbar-nav {
  list-style: none;
  width: 100%;
  padding: 0;
  text-align: center;
}

.navbar-nav li {
  padding: 0.2em 0;
  border-top: 1px solid var(--white);
}

li a {
  text-decoration: none;
  color: aliceblue;
}

@media(min-width:50em) {
  .navbar {
    padding: 0.7em;
  }

  .navbar-nav {
    width: 50%;
    display: flex;
    justify-content: flex-start;
  }
  .navbar-nav li {
    border:0px;
  }

  .navbar-nav li {
    margin: 0em 0.6em;
  }
}
