:root {
  --gray:#282c34;
  --white:#fff;
  --primary:#12886b;
  --light-teal:#338873;
  --light-gray:#c6c7c8;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* list  */
.list-group {
  list-style-type: none;
  width: 100%;
}

.list-group-item {
  background-color:var(--white);
  color:var(--gray);
  padding:0.5em;
  font-size:1.1em;
  border-top: 1px solid var(--light-gray);
  border-radius: 4px;
}

.list-group-item:hover {
  background-color: var(--primary);
  color:white;
}

/* buttons */
.btn-lg {
  padding: 0.9em 2em !important;
}

.btn-outline-none  {
  background-color: transparent;
  border: 0px !important;
  color: var(--primary);
}

/* utilities */
.d-flex {
  display: flex;
}

.content-center {
  justify-content: center;
}

/* text */
.text-lg {
  font-size: 1.2em;
}

/* width */
.w-50 {
  width: 90%;
}

/* margin */ 
.mt-2 {
  margin-top: 0.5rem !important;
}

.my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;;
}

.mx-2 {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;;
}

@media(min-width:50em) {
  .w-50 {
    width:50%;
  }
}

