.container {
    position: relative;
}

.mapboxgl-popup .mapboxgl-popup-content {
    padding:0;
    border-radius: 1em;
    overflow: hidden;
    width: 200px;
}

.popup-content {
    padding: 0;
}

.popup-content .popup-title {
    margin: 0em;
    font-size: 1.4em;
    background-color: var(--primary);
    text-align: center;
    padding: 0.3em;
    color: var(--white);
}

.popup-content .popup-body {
    padding:0.2em 0.8em;
}

.popup-body p {
    margin: 0.3em;
    line-height: 1.5;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
}